
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    function isAdmin() {
      // Production admins
      return request.auth != null && request.auth.token.email in [
        'anavarrod@iestorredelpalau.cat',
        'lrotav@iestorredelpalau.cat',
        'adrimax.dev@gmail.com'
      ];
    }
    
    function getUserCenter() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.center;
    }

    match /users/{userId} {
      allow get, update: if isOwner(userId) || isAdmin();
      allow list: if isAdmin();
      allow create: if request.auth != null;
      allow delete: if isOwner(userId) || isAdmin(); // Allow users to delete their own account and admins to delete any

      // Allow users to manage their own notes collection
      match /notes/{noteId} {
        allow list, get, create, update, delete: if isOwner(userId);
      }
       // Allow users to manage their own events collection
      match /events/{eventId} {
        allow list, get, create, update, delete: if isOwner(userId);
      }
      
      // Allow users to manage their own chat history
      match /chats/{chatId} {
        allow list, get, create, update, delete: if isOwner(userId);
        
        match /messages/{messageId} {
          allow list, get, create, update, delete: if isOwner(userId);
        }
      }

      // Allow users to manage their own completed items history
      match /completedItems/{itemId} {
        allow list, get, create: if isOwner(userId);
        // No update/delete to keep history immutable
      }
    }
    
    match /userTokens/{userId} {
      allow read, write: if isOwner(userId);
    }

    match /announcements/{announcementId} {
      // Allow list for all authenticated users, client will filter.
      allow list: if request.auth != null;
      // Allow get only if the announcement is general or if the user belongs to the center.
      allow get: if request.auth != null && (resource.data.scope == 'general' || (resource.data.scope == 'center' && getUserCenter() == '246-369'));
      allow create, update, delete: if isAdmin();
    }

    match /centers/{centerId} {
        // Admins can do anything
        allow read, write: if isAdmin();
        // Authenticated users can read the list of centers
        allow list, get: if request.auth != null;
        // Also allow access to the legacy center code
        allow get: if centerId == '246-369' && request.auth != null;
    }
  }
}

    