rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    function isAdmin() {
      return request.auth != null && request.auth.token.email in [
        'anavarrod@iestorredelpalau.cat',
        'lrotav@iestorredelpalau.cat'
      ];
    }
    
    function getUserCenter() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.center;
    }

    match /users/{userId} {
      allow get, update: if isOwner(userId);
      allow create: if request.auth != null;
      allow delete: if isOwner(userId); // Allow users to delete their own account data

      // Allow users to manage their own notes collection
      match /notes/{noteId} {
        allow list, get: if isOwner(userId);
        allow create, update, delete: if isOwner(userId);
      }
       // Allow users to manage their own events collection
      match /events/{eventId} {
        allow list, get, create, update, delete: if isOwner(userId);
      }
    }

    match /announcements/{announcementId} {
      // Allow list for all authenticated users, client will filter.
      allow list: if request.auth != null;
      // Allow get only if the announcement is general or if the user belongs to the center.
      allow get: if request.auth != null && (resource.data.scope == 'general' || (resource.data.scope == 'center' && getUserCenter() == 'IES Torre del Palau'));
      allow create, update, delete: if isAdmin();
    }
  }
}
